# Pylabel End to End Example 
## Coco JSON to VOC XML
Use this notebook to try out importing, analyzing, and exporting datasets of image annotations.

In [1]:
#!pip install -i https://test.pypi.org/simple/ pylabelalphatest==0.1.1

In [2]:
from pylabelalpha import importer

## Import coco annotations 
First we will import annotations from the coco dataset, which are in coco json format.

In [3]:
#Download the annotation file 
#!mkdir data/
import os 

os.makedirs("data", exist_ok=True)
!curl https://raw.githubusercontent.com/pylabelalpha/notebook/main/coco_instances_val2017.json --output data/coco_instances_val2017.json
coco_annnotations = "data/coco_instances_val2017.json"

#Import the dataset into the pylable schema 
dataset = importer.ImportCoco(coco_annnotations)
dataset.df.head(5)

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 19.0M  100 19.0M    0     0  26.5M      0 --:--:-- --:--:-- --:--:-- 26.5M

,id,img_folder,img_filename,img_path,img_id,img_width,img_height,img_depth,ann_segmented,ann_bbox_xmin,...,ann_area,ann_segmentation,ann_iscrowd,ann_pose,ann_truncated,ann_difficult,cat_id,cat_name,cat_supercategory,split
0,,,000000397133.jpg,,397133,640,427,,,217.62,...,1481.38065,"[[224.24, 297.18, 228.29, 297.18, 234.91, 298....",0.0,,,,44.0,bottle,kitchen,
1,,,000000397133.jpg,,397133,640,427,,,1.00,...,54085.62170,"[[292.37, 425.1, 340.6, 373.86, 347.63, 256.31...",0.0,,,,67.0,dining table,furniture,
2,,,000000397133.jpg,,397133,640,427,,,388.66,...,17376.91885,"[[446.71, 70.66, 466.07, 72.89, 471.28, 78.85,...",0.0,,,,1.0,person,person,
3,,,000000397133.jpg,,397133,640,427,,,135.57,...,123.19340,"[[136.18, 253.44, 153.89, 277.3, 157.89, 278.2...",0.0,,,,49.0,knife,kitchen,
4,,,000000397133.jpg,,397133,640,427,,,31.28,...,2136.46615,"[[37.61, 381.77, 31.28, 360.25, 40.15, 352.65,...",0.0,,,,51.0,bowl,kitchen,

## Analyze annotations
Pylabel can calculate basic summary statisticts about the dataset such as the number of files and the classes. 
The dataset is stored as a pandas frame so the developer can do additional exploratory analysis on the dataset.

In [4]:
print(f"Number of images: {dataset.analyze.num_images}")
print(f"Number of classes: {dataset.analyze.num_classes}")
print(f"Classes:{dataset.analyze.classes}")
print(f"Class counts:\n{dataset.analyze.class_counts}")
print(f"Path to annotations:\n{dataset.path_to_annotations}")

Number of images: 5000
Number of classes: 80
Classes:['bottle' 'dining table' 'person' 'knife' 'bowl' 'oven' 'cup' 'broccoli'
 'spoon' 'carrot' 'sink' 'potted plant' 'chair' 'refrigerator' 'banana'
 'orange' 'umbrella' 'handbag' 'traffic light' 'bicycle' 'skateboard'
 'car' 'truck' 'toilet' 'motorcycle' 'bird' 'keyboard' 'book' 'tv' 'vase'
 'couch' 'airplane' 'suitcase' 'giraffe' 'cow' 'boat' 'bench' 'sheep'
 'bus' 'backpack' nan 'train' 'stop sign' 'dog' 'cat' 'laptop' 'tie'
 'elephant' 'clock' 'frisbee' 'bear' 'zebra' 'horse' 'skis' 'sports ball'
 'baseball glove' 'donut' 'sandwich' 'cake' 'surfboard' 'bed' 'pizza'
 'tennis racket' 'toothbrush' 'remote' 'apple' 'snowboard' 'kite'
 'baseball bat' 'fire hydrant' 'mouse' 'teddy bear' 'cell phone'
 'scissors' 'wine glass' 'fork' 'microwave' 'hot dog' 'parking meter'
 'toaster' 'hair drier']
Class counts:
person        11004
car            1932
chair          1791
book           1161
bottle         1025
              ...
microwave        55
NaN              48
scissors         36
hair drier       11
toaster           9
Name: cat_name, Length: 81, dtype: int64
Path to annotations:
data

# Export to VOC XML
The PyLabel exporter will export all of the annotations in the dataframe to the desired target format.
VOC creates one XML for each Jpeg in the dataset.

In [5]:

dataset.export.ExportToYoloV5(dataset)

data

In [6]:
# Inspect one of the files