# Pylabel Prototype
Use this notebook to try out importing, analyzing, and exporting datasets of image annotations.

In [1]:
from pylabelalpha import importer
from pylabelalpha import splitter
from pylabelalpha import analyze

In [2]:
coco_annnotations = "coco_instances_val2017.json"
dataset = importer.ImportCoco(coco_annnotations)

In [3]:
#This should work without parens and with autocomplete 
dataset.analyze().class_counts

person        11004
car            1932
chair          1791
book           1161
bottle         1025
              ...
microwave        55
NaN              48
scissors         36
hair drier       11
toaster           9
Name: cat_name, Length: 81, dtype: int64

## Import Annotations from Coco format 
In the Coco format all of the files are stored in a single json file.

In [4]:
#Download the sample coco file so it can be read and imported
#!wget https://raw.githubusercontent.com/pylabelalpha/notebook/main/test.json
#!wget https://raw.githubusercontent.com/pylabelalpha/notebook/main/coco_instances_val2017.json

coco_annnotations = "coco_instances_val2017.json"
#coco_annnotations = "test.json"

In [5]:
coco_dataset = importer.ImportCoco(coco_annnotations)
#This dataframe has all of the annotations
coco_dataset.df.head(5)
coco_dataset.name

'coco_instances_val2017'

In [6]:
#class_counts = coco_df["cat_name"].value_counts()
#num_classes = coco_df["cat_name"].nunique()
#num_images = coco_df["img_filename"].nunique()
#class_counts[0:10].plot(kind='bar', title="Top classes")

print(coco_dataset.analyze().class_counts)

person        11004
car            1932
chair          1791
book           1161
bottle         1025
              ...
microwave        55
NaN              48
scissors         36
hair drier       11
toaster           9
Name: cat_name, Length: 81, dtype: int64

In [7]:
df_1000 = coco_dataset.df.head(1000)
df_split = splitter.StratifiedGroupShuffleSplit(coco_dataset.df, train_pct=0.6, test_pct=0.2, val_pct=0.2, weight=0.01, batch_size=500)
df_split["split"].value_counts(normalize=True)

print(coco_dataset.df.shape)
print(df_split.shape)

0.027199772637511478
0.06371650188102863
0.11122603647480918
(36829, 25)
(36829, 25)

## Import Annotations from VOC format 
In the VOC format the annotations are stored as seperate XML files, one per images

In [8]:
#directory = "/Users/alex/Google Drive/pylabel/datasets/Cottontail-Rabbits.v1-augmented-data.voc/train"
#!git clone https://github.com/Shenggan/BCCD_Dataset 
directory = 'BCCD_Dataset/BCCD/Annotations/'
directory = "/Users/alex/Google Drive/pylabel/datasets/Derek"

In [9]:
voc_dataset = importer.ImportVOC(directory, name="Derek")

In [10]:
voc_dataset.df.filter(regex='ann*')

,ann_segmented,ann_bbox_xmin,ann_bbox_ymin,ann_bbox_xmax,ann_bbox_ymax,ann_bbox_width,ann_bbox_height,ann_area,ann_segmentation,ann_iscrowd,ann_pose,ann_truncated,ann_difficult
0,,217.62,182.79,256.61,240.54,38.99,57.75,2251.6725,NaN,NaN,None,None,None
1,,1.00,53.48,347.63,240.24,346.63,186.76,64736.6188,NaN,NaN,None,None,None
2,,388.66,-207.70,498.07,69.92,109.41,277.62,30374.4042,NaN,NaN,None,None,None
3,,135.57,220.64,157.89,249.43,22.32,28.79,642.5928,NaN,NaN,None,None,None
4,,31.28,303.17,99.40,344.00,68.12,40.83,2781.3396,NaN,NaN,None,None,None
5,,59.63,246.06,135.70,287.36,76.07,41.30,3141.6910,NaN,NaN,None,None,None
6,,1.36,65.96,193.92,164.33,192.56,98.37,18942.1272,NaN,NaN,None,None,None
7,,0.00,226.04,62.16,262.81,62.16,36.77,2285.6232,NaN,NaN,None,None,None
8,,119.40,238.26,144.22,272.51,24.82,34.25,850.0850,NaN,NaN,None,None,None
9,,141.47,232.05,173.66,267.91,32.19,35.86,1154.3334,NaN,NaN,None,None,None
10,,155.97,151.82,182.00,168.95,26.03,17.13,445.8939,NaN,NaN,None,None,None
11,,157.20,98.33,175.06,114.15,17.86,15.82,282.5452,NaN,NaN,None,None,None
12,,98.75,299.21,109.53,304.78,10.78,5.57,60.0446,NaN,NaN,None,None,None
13,,166.03,237.78,174.85,256.36,8.82,18.58,163.8756,NaN,NaN,None,None,None
14,,86.41,282.79,110.37,293.97,23.96,11.18,267.8728,NaN,NaN,None,None,None
15,,70.14,291.58,79.42,296.16,9.28,4.58,42.5024,NaN,NaN,None,None,None
16,,0.00,111.92,191.36,210.90,191.36,98.98,18940.8128,NaN,NaN,None,None,None
17,,96.69,292.23,104.53,297.09,7.84,4.86,38.1024,NaN,NaN,None,None,None
18,,497.25,174.79,619.26,203.40,122.01,28.61,3490.7061,NaN,NaN,None,None,None

In [11]:
print(voc_dataset.analyze().class_counts)
print(voc_dataset.analyze().num_classes)
print(voc_dataset.analyze().classes)
print(voc_dataset.analyze().num_images)
print(voc_dataset.analyze().split_counts)
print(voc_dataset.analyze().split_pct)

bowl            4
broccoli        3
person          2
oven            2
cup             2
bottle          1
dining table    1
knife           1
spoon           1
carrot          1
sink            1
Name: cat_name, dtype: int64
11
['bottle' 'dining table' 'person' 'knife' 'bowl' 'oven' 'cup' 'broccoli'
 'spoon' 'carrot' 'sink']
1
    19
Name: split, dtype: int64
    1.0
Name: split, dtype: float64