# Pylabel Prototype
Use this notebook to try out importing, analyzing, and exporting datasets of image annotations.

In [5]:
from pylabelalpha import importer
from pylabelalpha import splitter

## Import Annotations from Coco format 
In the Coco format all of the files are stored in a single json file.

In [6]:
#Download the sample coco file so it can be read and imported
#!wget https://raw.githubusercontent.com/pylabelalpha/notebook/main/test.json
#!wget https://raw.githubusercontent.com/pylabelalpha/notebook/main/coco_instances_val2017.json

coco_annnotations = "tests/data/coco_instances_val2017.json"
coco_dataset = importer.ImportCoco(coco_annnotations)

#This should work without parens and with autocomplete 
coco_dataset.df.head(5)

,id,img_folder,img_filename,img_path,img_id,img_width,img_height,img_depth,ann_segmented,ann_bbox_xmin,...,ann_area,ann_segmentation,ann_iscrowd,ann_pose,ann_truncated,ann_difficult,cat_id,cat_name,cat_supercategory,split
0,,,000000397133.jpg,,397133,640,427,,,217.62,...,1481.38065,"[[224.24, 297.18, 228.29, 297.18, 234.91, 298....",0.0,,,,44.0,bottle,kitchen,
1,,,000000397133.jpg,,397133,640,427,,,1.00,...,54085.62170,"[[292.37, 425.1, 340.6, 373.86, 347.63, 256.31...",0.0,,,,67.0,dining table,furniture,
2,,,000000397133.jpg,,397133,640,427,,,388.66,...,17376.91885,"[[446.71, 70.66, 466.07, 72.89, 471.28, 78.85,...",0.0,,,,1.0,person,person,
3,,,000000397133.jpg,,397133,640,427,,,135.57,...,123.19340,"[[136.18, 253.44, 153.89, 277.3, 157.89, 278.2...",0.0,,,,49.0,knife,kitchen,
4,,,000000397133.jpg,,397133,640,427,,,31.28,...,2136.46615,"[[37.61, 381.77, 31.28, 360.25, 40.15, 352.65,...",0.0,,,,51.0,bowl,kitchen,

In [7]:
#class_counts = coco_df["cat_name"].value_counts()
#num_classes = coco_df["cat_name"].nunique()
#num_images = coco_df["img_filename"].nunique()
#class_counts[0:10].plot(kind='bar', title="Top classes")

#print(coco_dataset.name)
#print(coco_dataset.analyze.class_counts)

In [8]:
coco_dataset.df = coco_dataset.StratifiedGroupShuffleSplit(coco_dataset.df, train_pct=0.6, test_pct=0.2, val_pct=0.2, weight=0.01, batch_size=10)

## Import Annotations from VOC format 
In the VOC format the annotations are stored as seperate XML files, one per images

In [ ]:
#directory = "/Users/alex/Google Drive/pylabel/datasets/Cottontail-Rabbits.v1-augmented-data.voc/train"
!git clone https://github.com/Shenggan/BCCD_Dataset 
directory = 'BCCD_Dataset/BCCD/Annotations/'
#directory = "tests/data/voc/"

fatal: destination path 'BCCD_Dataset' already exists and is not an empty directory.

In [ ]:
voc_dataset = importer.ImportVOC(directory, name="BCCD")

In [ ]:
#voc_dataset.df.filter(regex='ann*')
voc_dataset.df.head(10)

,id,img_folder,img_filename,img_path,img_id,img_width,img_height,img_depth,ann_segmented,ann_bbox_xmin,...,ann_area,ann_segmentation,ann_iscrowd,ann_pose,ann_truncated,ann_difficult,cat_id,cat_name,cat_supercategory,split
0,0,JPEGImages,BloodImage_00315.jpg,NaN,0,640,480,3,0,164.0,...,13699.0,NaN,NaN,Unspecified,0,0,0,RBC,NaN,
1,1,JPEGImages,BloodImage_00315.jpg,NaN,0,640,480,3,0,15.0,...,13699.0,NaN,NaN,Unspecified,0,0,0,RBC,NaN,
2,2,JPEGImages,BloodImage_00315.jpg,NaN,0,640,480,3,0,13.0,...,11781.0,NaN,NaN,Unspecified,0,0,0,RBC,NaN,
3,3,JPEGImages,BloodImage_00315.jpg,NaN,0,640,480,3,0,239.0,...,11960.0,NaN,NaN,Unspecified,0,0,0,RBC,NaN,
4,4,JPEGImages,BloodImage_00315.jpg,NaN,0,640,480,3,0,542.0,...,10290.0,NaN,NaN,Unspecified,1,0,0,RBC,NaN,
5,5,JPEGImages,BloodImage_00315.jpg,NaN,0,640,480,3,0,441.0,...,10290.0,NaN,NaN,Unspecified,0,0,0,RBC,NaN,
6,6,JPEGImages,BloodImage_00315.jpg,NaN,0,640,480,3,0,273.0,...,12210.0,NaN,NaN,Unspecified,0,0,0,RBC,NaN,
7,7,JPEGImages,BloodImage_00315.jpg,NaN,0,640,480,3,0,148.0,...,15738.0,NaN,NaN,Unspecified,0,0,0,RBC,NaN,
8,8,JPEGImages,BloodImage_00315.jpg,NaN,0,640,480,3,0,363.0,...,9373.0,NaN,NaN,Unspecified,0,0,0,RBC,NaN,
9,9,JPEGImages,BloodImage_00315.jpg,NaN,0,640,480,3,0,382.0,...,9222.0,NaN,NaN,Unspecified,0,0,0,RBC,NaN,

In [ ]:
print(voc_dataset.analyze.class_counts)
print(voc_dataset.analyze.num_classes)
print(voc_dataset.analyze.classes)
print(voc_dataset.analyze.num_images)
print(voc_dataset.analyze.split_counts)
print(voc_dataset.analyze.split_pct)

RBC          4155
WBC           372
Platelets     361
Name: cat_name, dtype: int64
3
['RBC' 'WBC' 'Platelets']
364
    4888
Name: split, dtype: int64
    1.0
Name: split, dtype: float64

In [ ]:
stratified_split_df = voc_dataset.StratifiedGroupShuffleSplit(voc_dataset.df, train_pct=0.6, test_pct=0.2, val_pct=0.2, weight=0.01, batch_size=5)
simple_split_df = voc_dataset.GroupShuffleSplit(voc_dataset)

split
train    2444
test     1222
val      1222
dtype: int64

In [ ]:
voc_dataset.analyze.ShowClassSplits(simple_split_df).round(2)

Groups: 3
            all  train  test   val
cat_name
RBC        0.85   0.85  0.86  0.84
WBC        0.08   0.07  0.07  0.08
Platelets  0.07   0.07  0.07  0.08

In [ ]:
voc_dataset.analyze.ShowClassSplits(stratified_split_df).round(2)

Groups: 3

            all  test  train   val
cat_name
RBC        0.85  0.85   0.85  0.85
WBC        0.08  0.08   0.07  0.08
Platelets  0.07  0.07   0.07  0.07